.container {
    flex-grow: 1;
    background-color: #2f4353;
    background-image: linear-gradient(315deg, #2f4353 0%, #d2ccc4 74%);
    padding:2em;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:2em;
    padding-right: 20%;
}

.form {
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
    flex-direction: row;
    gap:3em;
    justify-content: space-between;
    flex-wrap: wrap;
}

.input {
    display: flex;
}

.para {
    display: flex;
    gap: 0.5em;
}

.tUnit {
    display: flex;
}

.btn {
	border: none;
	padding: 10px 16px;
    margin: 0.5em;
    border-radius: 4px;
}

.selected {
    color: white;
    background-color: #3e3e3e;
}

.btn:hover {
	cursor: pointer;
	box-shadow: 0 5px 5px #6b6b6b;
}

.container input {
    border-radius: 4px;
	padding: 0.5em;
	background-color: #faf3ef;
	border: none;
}

.container label p {
    padding: 0.2em 0;
}

.heading {
    color: #3e3e3e;
    padding: 0.5em 0;
}

.subheading {
    color: #3e3e3e;
    padding: 0.3em 0;
}

@media only screen and (max-width: 600px) {
    .form {
        width: 100%;
    }
}