.App {
  display: flex;
  padding:20vh;
  background-image: url(https://images.unsplash.com/photo-1615240198737-c3c9c6f31559?ixid=MXwxMjA3fDB8MHx0b3BpYy1mZWVkfDF8cm5TS0RId3dZVWt8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=600&q=60);
  background-size: cover;
  height:100vh;
  width:100%;
}

/* .inputForm{
  flex-grow: 1;
  background-color: #2f4353;
  background-image: linear-gradient(315deg, #2f4353 0%, #d2ccc4 74%);
  padding:2em;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap:2em;
  padding-right: 20%;
} */

.inputForm>form{
  display: flex;
  flex-direction: column;
}

.row{
  display: flex;
  flex-direction: row;
  gap:3em;
  justify-content: space-between;
}

.OutputPanel{
  flex-grow: 1;
  background-color: #2b1331;
  background-image: linear-gradient(315deg, #2b1331 0%, #b9abcf 74%);
  padding:2em;
}